// Buttons

@use "../base/typography" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

// Login/Signup/ForgotPassword Button
.exterior-main-button {
  @include button-one;
  @include text($white-text, $button-font, $regular);
  background-color: $blue-accent-text;
  width: 100%;
  padding: 0.5rem;
}
// hover
.exterior-main-button:hover {
  background-color: $black-text;
}

// Interior Main Blue button
.interior-blue-button {
  @include button-two;
  @include text($white-text, $input-font, $regular);
  background-color: $blue-accent-text;
  width: 350px;
}
// hover
.interior-blue-button:hover {
  background-color: $black-text;
}

// Interior Main Black button
.interior-black-button {
  @include button-two;
  @include text($white-text, $input-font, $regular);
  background-color: $black-text;
  width: 350px;
}
// hover
.interior-black-button:hover {
  background-color: $blue-accent-text;
}

// Payment Request Form Button
.form-button,
.form-button-blue,
.form-button-red {
  @include button-two;
  @include text($white-text, $input-font, $regular);
  letter-spacing: 0.02rem;
  width: 150px;
  margin: 1rem;
}

.form-button {
  background-color: $black-text;
}

// hover
.form-button:hover {
  background-color: $blue-accent-text;
}

.form-button-blue {
  background-color: $blue-accent-text;
}

// hover
.form-button-blue:hover,
.form-button-red:hover {
  background-color: $black-text;
}

.form-button-red {
  background-color: $declined-text;
}

// Yellow text link button
.yellow-link-button {
  @include text($pending-text, $input-font, $bold);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

// Payment Request Form Button
.small-button-center-blue {
  @include button-two;
  @include text($white-text, $input-font, $regular);
  background-color: $blue-accent-text;
  letter-spacing: 0.02rem;
  width: 150px;
  margin: 2rem auto 0;
}
// hover
.small-button-center-blue:hover {
  background-color: $black-text;
}

// Media Queries

// 450
@media (max-width: 450px) {
  .interior-blue-button {
    width: 80%;
  }
}
