// Navigation Bar

@use "../base/typography" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.nav-background {
  @include page-background;
  padding: 2.5rem 0.5rem;
  min-height: 100vh;
}

.nav-list-item {
  margin-bottom: 3.5rem;
}

.nav-link {
  @include text($black-text, $navigation-font, $light);
  text-decoration: none;
  transition: 0.6s;
}

.nav-link:hover {
  color: $blue-accent-text;
}

// Media queries

// 1200
@media (max-width: 1250px) {
  ul {
    padding-left: 0.5rem;
  }
}
