// Color Profile

$gray-background: #e7e8eb;
$light-gray-background: #f7f7f9;
$white-background: #ffffff;
$black-text: #000000;
$gray-text: #4d4d4d;
$blue-accent-text: #0967a6;
$white-text: #ffffff;
$gray-border: #d9d9d9;
$declined-text: #ff0000;
$pending-text: #ff8000;
$progress-text: #07a458;
$purple-text: #9469ad;
